@tailwind base;
@tailwind components;
@tailwind utilities;

/* utliles */

.cinemaboton {
  @apply font-alpha whitespace-nowrap rounded-xl bg-blue-700 px-5 py-3 font-medium text-white transition-all duration-200;
  &:hover {
    @apply scale-105;
  }
}

.mensaje-cargando {
  @apply text-3xl font-alpha text-center mt-10 animate-pulse;
}
.mensaje-error {
  @apply text-xl text-red-800 font-bebas;
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

/* cinema Menu  */

.cinema-menu {
  @apply flex w-full flex-col items-center space-y-2 lg:flex-row lg:justify-center lg:space-y-0;
  li {
    @apply lg:mr-12;
    a {
      @apply rounded text-gray-700 transition  font-bebas;
      &:focus {
        @apply outline-none ring-1 ring-blue-700 ring-offset-2 text-xl;
      }
    }
  }
}

.cinema-menutwo {
  a {
    @apply whitespace-nowrap rounded font-medium transition-all duration-200 focus:outline-none focus:ring-1 focus:ring-blue-700 focus:ring-offset-2 hover:text-opacity-50;
  }
  /* .boton {
    @apply;
  } */
}
